{% macro meta(page) %}

{% endmacro meta %}

{% macro site_header() %}
        {% if config.extra.after_dark_menu %}
             <header>
                 <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                      {% for item in config.extra.after_dark_menu %}
                          <a itemprop="url"
                              class="{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}"
                              href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}">
                            <span itemprop="name">{{ item.name }}</span>
			  </a>
                        {% endfor %}
			{% if config.extra.after_dark_title %}
			    <strong style="float:right; font-size:200%">{{ config.extra.after_dark_title }}</strong>
			{% endif %}
                  </nav>
              </header>
             {% endif %}
{% endmacro meta %}

{% macro page_in_list(page) %}
    <article itemscope itemtype="http://schema.org/CreativeWork">
        <header>
          <h2 itemprop="name" class="columns">
	    <span class="leftNav">{{ page.date | date(format="%m/%y") }} </span>
            <span class="rightPara"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></span>
          </h2>
        </header>
    </article>
{% endmacro page_in_list %}
